{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/estilos.css' %}">
    <script src="https://kit.fontawesome.com/e973458850.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__superior">
            <div class="logo">
                <img src="{%static '../static/img/otro.png'%}" alt="">
            </div>
        </div>
        <div class="container__menu">
            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label id="label__check" for="check__menu">
                    <i class="fa-solid fa-bars icon_menu"></i>
                </label>
                <nav>
                    <ul>
                        <li><a href="#">Residente</a>
                        <ul>
                            <li><a href="#">Buscar</a></li>
                            <li><a href="#">Agregar</a></li>
                        </ul>
                        </li>
                        <li><a href="#">Conserje</a>
                            <ul>
                                <li><a href="#">Buscar</a></li>
                                <li><a href="#">Agregar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Directiva</a>
                            <ul>
                                <li><a href="#">Buscar</a></li>
                                <li><a href="#">Agregar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Cerrar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>